<div class="left-side-menu column">
    <div class="left-side-menu-tab"> @Html.ActionLink("USERS", "Index", "Users", new { area = "" }, new { @class = "left-side-menu-tab-text" })</div>
    <div class="left-side-menu-tab"> @Html.ActionLink("CLIENTS", "Index", "Clients", new { area = "" }, new { @class = "left-side-menu-tab-text" })</div>
    <div class="left-side-menu-tab"> @Html.ActionLink("CASES", "Index", "Cases", new { area = "" }, new { @class = "left-side-menu-tab-text" })</div>
    <div class="left-side-menu-tab"> @Html.ActionLink("TASKS", "Index", "Tasks", new { area = "" }, new { @class = "left-side-menu-tab-text" })</div>
    <div class="left-side-menu-tab"> @Html.ActionLink("DOCUMENTS", "Index", "Documents", new { area = "" }, new { @class = "left-side-menu-tab-text" })</div>

</div>
