@model List<LawOffice.Models.LawOfficeTask>
@{
    ViewBag.Title = "Tasks";
}

<div class="row content-row">
    @Html.Partial("_LeftSideBar")
    <div class="sub-content-wrapper column">
        <div class="sub-content">
            <h2>@ViewBag.Title</h2>
            <hr />
            @if (Model.Count == 0)
            {
                <p> No Tasks in this List yet. </p>
                <input type="button" class="btn btn-default button-new" value="New +" onclick="location.href='@Url.Action("New", "Tasks")'" />
            }
            else
            {
                <div class="row box-and-button-wrapper">
                    <input type="text" id="myInput" class="form-control table-search-box" onkeyup="myFunction()" placeholder="Search ..." title="Type in to search">
                    <input type="button" class="btn btn-default button-new" value="New +" onclick="location.href='@Url.Action("New", "Tasks")'" />
                </div>

                <br />
                <table class="table-main-list-narrow" id="myTable">
                    <tr class="header table-main-list-header">
                        <th class="table-main-header-2">Title</th>
                        <th class="table-main-header-4">Assignee</th>
                        <th class="table-main-header-4">Start Date</th>
                        <th class="table-main-header-4">End Date</th>
                        <th class="table-main-header-4">Status</th>
                        <th class="table-main-header-delete">Delete</th>
                    </tr>
                    @foreach (var lawTask in Model)
                    {
                        <tr class="table-main-list-data">
                            <td>@Html.ActionLink(lawTask.Title, "Edit", "Tasks", new { id = lawTask.Id }, new { @class = "table-td-info" })</td>
                            <td class="table-td-not-editable">@lawTask.AssignedToAppUser.FirstName @lawTask.AssignedToAppUser.LastName</td>
                            <td class="table-td-not-editable">@lawTask.StartDate.ToString("dd / MM / yyyy") </td>
                            <td class="table-td-not-editable">@lawTask.EndDate.ToString("dd / MM / yyyy") </td>
                            <td class="table-td-not-editable">@lawTask.Status</td>
                            <td>@Html.ActionLink("Delete", "Delete", "Tasks", new { id = lawTask.Id }, new { @class = "delete-custom-control" })</td>
                        </tr>
                    }
                </table>
            }

        </div>
    </div>
</div>
<script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
</script>

